@font-face {
    font-family: 'MyFont' ;
    src: url(../fonts/simply_rounded.woff);
}

body {
    margin: 0;
    font-family: 'MyFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#ffdfdf;
    cursor: url('../img/img-headers/cute-cursor.gif'), auto;
    
}
.character-box {
    width: 100%;
    margin: 20px;
} 
.gif-bar {
    width: 100%;
    height: 40px; /* Adjust the height as needed */
    background-color: #573941;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

#clawMachine {
    align-items: center;
    width: 1450px;
    height: 250px;
    object-fit: cover;
    object-position: 56% 73%;
    align-items: center;

}
.minor-section {
    width: max-content;  
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 30px;
    height: auto;
    border: 10px dashed #e4ebf1;
    background: linear-gradient(to bottom, #f8d0d7, #bae7a6);
    
  }
  

.character-box img {
    width: 100%;
    height: auto;
    display: block;
    float: left;
}

 .overlay::after {
    content: "";
    display: table;
    clear: both;
    color: white;
    padding: 5px;
    font-size: 18px;
    text-align: right;
    border-radius: 5px;
}

#buttonContainer {
    height: 200px;
    position: relative;
}

#generateButton {
    margin-top: 50px;
    padding: 10px 20px; 
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 100px;
    margin-left: 490px;
    margin-bottom: 100px;
    font-family: 'MyFont';
} 

#generateButton:hover {
    background-color: #ffb0d8;
    box-shadow: #fff 0px 7px;
}
/* the actual images of the characters */
#randomImage {
    width: 450px;
    padding-left: 180px;
    padding-top: 80px;
    display: block;

}

.title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}

#randomText {
    text-align: left;
    padding: 15px;
    padding-right: 40px;
    font-size: 25px;
    /* transform: translate(70px, 0px);  */
    /* margin-right: 60px; */
}

.instagram-media {

    align-items: center;

}

#Printables img:hover {
  transform: scale(1.1); /* Increase size slightly on hover */
}

#Printables {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 4 equal columns */
  grid-gap: 10px; /* Add spacing between images */
}

#Printables img {
  width: 400px; /* Adjust the width as needed to match the size of your cake image */
  height: auto; /* Maintain aspect ratio */
  margin: auto; /* Center the images horizontally */
  padding: 20px;
  margin-left: 70px;
}

.text {
    text-align: left;
    padding: 30px;
    padding-right: 35px;
    font-size: 40px;
    transform: translate(65px, 20px);   
}


#randomDescription {
    text-align: left;
    margin-right: 60px;
    font-size: 25px;
    width: 480px;
    text-align: left;
    padding: 15px;
    font-size: 25px;
    margin-right: 60px;
}


/* #adviceTitle{

} */


.groupPic{
    width:250px;
    height: 250px;    
    border: solid 5px rgb(245, 158, 179);
    border-radius: 20px;
    float:right;
    /* margin-right: 60px;
    margin-top: 50px; */
}

.groupPic:hover{
    transform: scale(1.1); /* Increase size slightly on hover */
}

h3{
    font-size:25px !important;
    color:#ed8383 !important;
    /* padding-right: 35px !important; */
}
