@font-face {
    font-family: 'MyFont' ;
    src: url(../fonts/simply_rounded.woff);
}

body {
    margin: 0;
    font-family: 'MyFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#ffdfdf;
    
}
.character-box {
    width: 100%;
    margin: 20px;
} 
.gif-bar {
    width: 100%;
    height: 40px; /* Adjust the height as needed */
    background-color: #ffdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

#clawMachine {
    align-items: center;
    width: 1450px;
    height: 250px;
    object-fit: cover;
    object-position: 56% 73%;
    align-items: center;

}
.minor-section {
    margin-bottom: 5px;
    border-radius: 30px;
    width: 100%;
    border: 10px dashed #e4ebf1;
    background: linear-gradient(to bottom, #f8d0d7, #bae7a6);
  }
  
.character-box img {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    width: 50%;
}

 .overlay::after {
    content: "";
    display: table;
    clear: both;
    color: white;
    padding: 5px;
    font-size: 18px;
    text-align: right;
    border-radius: 5px;
}

#buttonContainer {
    height: 200px;
    position: relative;
}

#generateButton {
    margin-top: 50px;
    padding: 10px 20px; 
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 100px;
    margin-left: 450px;
    margin-bottom: 100px;
    font-family: 'MyFont';
} 

#generateButton:hover {
    background-color: #ffb0d8;
    box-shadow: #fff 0px 7px;
}

#randomImage {
    width: 350px;
   padding-left: 370px;
}

.title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}